openapi: 3.0.0
info:
  title: Counterparties API
  version: 1.0.0
servers:
  - url: https://api.nomi.tools
    description: Main API server
security:
  - basicAuth: []

paths:
  /v1/counterparties:
    get:
      summary: Get list of counterparties
      description: Retrieve a paginated list of counterparties.
      operationId: getCounterparties
      tags:
        - Counterparties
      parameters:
        - name: pagination
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Pagination'
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/json
            default: application/json
      responses:
        200:
          description: List of counterparties
          content:
            application/json:
              schema:
                type: object
                properties:
                  counterparties:
                    type: array
                    items:
                      $ref: '#/components/schemas/Counterparty'
                  meta:
                    $ref: '#/components/schemas/Metadata'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'

    post:
      summary: Create a new counterparty
      description: Add a new counterparty to the system.
      operationId: createCounterparty
      tags:
        - Counterparties
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/json
            default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CounterpartyPayload'
      responses:
        200:
          description: Counterparty created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'

    delete:
      summary: Delete multiple counterparties
      description: Remove multiple counterparties from the system.
      operationId: deleteCounterparties
      tags:
        - Counterparties
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/json
            default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        204:
          description: Counterparties deleted successfully
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'

  /v1/counterparties/{id}:
    get:
      summary: Get counterparty by ID
      description: Retrieve details of a specific counterparty.
      operationId: getCounterparty
      tags:
        - Counterparties
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/json
            default: application/json
      responses:
        200:
          description: Counterparty details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Counterparty'
        404:
          $ref: '#/components/responses/NotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'

    put:
      summary: Update counterparty by ID
      description: Modify details of an existing counterparty.
      operationId: updateCounterparty
      tags:
        - Counterparties
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/json
            default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CounterpartyPayload'
      responses:
        200:
          description: Counterparty updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        404:
          $ref: '#/components/responses/NotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'

    delete:
      summary: Delete counterparty by ID
      description: Remove a counterparty from the system.
      operationId: deleteCounterparty
      tags:
        - Counterparties
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/json
            default: application/json
      responses:
        204:
          description: Counterparty deleted successfully
        404:
          $ref: '#/components/responses/NotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'

  /v1/counterparties/bulk:
    post:
      summary: Bulk save counterparties
      description: Save multiple counterparties in bulk.
      operationId: bulkSaveCounterparties
      tags:
        - Counterparties
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/json
            default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CounterpartyPayload'
      responses:
        200:
          description: Counterparties saved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ids:
                    type: array
                    items:
                      type: string
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'

  /v1/counterparties/restore:
    post:
      summary: Restore counterparties
      description: Restore multiple counterparties by their IDs.
      operationId: restoreCounterparties
      tags:
        - Counterparties
      parameters:
        - name: Accept
          in: header
          required: true
          schema:
            type: string
            enum:
              - application/json
            default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
      responses:
        204:
          description: Counterparties restored successfully
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'

components:
  schemas:
    Counterparty:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the counterparty.
        name:
          type: string
          description: Name of the counterparty.
        externalId:
          type: string
          nullable: true
          description: External identifier for the counterparty.
        balance:
          type: number
          format: float
          description: Current balance of the counterparty.
        notes:
          type: string
          nullable: true
          description: Additional notes about the counterparty.
        isArchived:
          type: boolean
          description: Indicates if the counterparty is archived.
        types:
          type: array
          items:
            type: string
            enum:
              - client
              - supplier
              - partner
              - contractor
              - other
          description: Types associated with the counterparty.

    CounterpartyPayload:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Name of the counterparty.
        types:
          type: array
          items:
            type: string
            enum:
              - client
              - supplier
              - partner
              - contractor
              - other
          description: Types associated with the counterparty.
        externalId:
          type: string
          nullable: true
          description: External identifier for the counterparty.
        notes:
          type: string
          nullable: true
          description: Additional notes about the counterparty.

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number.
        limit:
          type: integer
          description: Maximum number of items per page.
        offset:
          type: integer
          description: Offset for pagination.

    Metadata:
      type: object
      properties:
        total:
          type: integer
          description: Total number of items.
        limit:
          type: integer
          description: Maximum number of items per page.
        offset:
          type: integer
          description: Offset for pagination.

  responses:
    Unauthorized:
      description: Unauthorized access
    Forbidden:
      description: Forbidden access
    NotFound:
      description: Resource not found

  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >
        Use HTTP Basic Authentication. 
        Provide your email as login and PPT token as the password.
